@model InstrumentDTO

@{
	ViewData["Title"] = "Add new instrument";
	var typeList = Ctx.InstrumentTypes.OrderBy(i => i).ToList();
	var brandList = Ctx.InstrumentBrands.OrderBy(i => i).ToList();
	var modelsList = Ctx.InstrumentModels.OrderBy(i => i).ToList();
	var tuningList = Ctx.InstrumentTunings.OrderBy(i => i).ToList();
	var customerList = Ctx.Customers	
		.Select(c => new CustomerDtoMin
			{
				Id = c.Id,
				Name = $"{c.FirstName} {c.LastName}"})
		.ToList();

}

<div class="col-md-8 card p-3 mx-auto top-margin width-min ">
	<h2 class="slogan">Add new instrument</h2>

	@*Alert notification if instrument already exist*@
	@if (!ViewData.ModelState.IsValid)
	{
		<div class="alert alert-danger">
			@foreach (var modelState in ViewData.ModelState.Values)
			{
				foreach (var error in modelState.Errors)
				{
					<div>@error.ErrorMessage</div>
				}
			}
		</div>
	}

	<form asp-action="CreateInstrument" method="post">
		<div class="form-group row">
			<div class="col-md-4 form-group form-margin">
				<label asp-for="SerialNumber">Serial number</label>
				<input asp-for="SerialNumber" class="form-control" />
				<span asp-validation-for="SerialNumber" class="text-danger"></span>
			</div>
			<div class=" col-md-4 form-group form-margin">
				<label asp-for="Type">Type</label>
				<select asp-for="Type" class="form-control">
					<option value="">Select type</option>
					@foreach(var types in typeList)
					{
						<option value="@types.Type">@types.Type</option>
					}
				</select>
				<span asp-validation-for="Type" class="text-danger"></span>
			</div>
			<div class="col-md-4 form-group form-margin">
				<label asp-for="Brand">Brand</label>
				<select asp-for="Brand" class="form-control">
					<option value="">Select brand</option>
					@foreach (var brand in brandList)
					{
						<option value="@brand.BrandName">@brand.BrandName</option>
					}
				</select>
				<span asp-validation-for="Brand" class="text-danger"></span>
			</div>
			<div class="col-md-4 form-group form-margin">
				<label asp-for="Tuning">Tune</label>
				<select asp-for="Tuning" class="form-control">
					<option value="">Select tuning</option>
					@foreach (var tune in tuningList)
					{
						<option value="@tune.Tune">@tune.Tune</option>
					}
				</select>
				<span asp-validation-for="Tuning" class="text-danger"></span>
			</div>
			<div class=" col-md-4 form-group form-margin">
				<label asp-for="Model">Model</label>
				<input asp-for="Model" class="form-control" list="datalistOptions1" id="DataList1" placeholder="Type to search...">
				<datalist id="datalistOptions1">
					@foreach (var models in modelsList)
					{
						<option value="@models.ModelName">@models.ModelName</option>
					}
				</datalist>
				<span asp-validation-for="Model" class="text-danger"></span>
			</div>
			<div class=" col-md-4 form-group form-margin">
			<label asp-for="Customer">Customer</label>
			<input asp-for="Customer" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
			<datalist id="datalistOptions">
			@foreach (var customer in customerList)
			{
			<option value="@customer.Name">@customer.Name</option>
			}
			</datalist>
			<span asp-validation-for="Customer" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-outline-primary button-top-margin button-margin">Create</button>
	</form>
</div>