@model UserDTO

@{
    ViewData["Title"] = "Edit User";
    var permissionsList = Ctx.UserPermissions.OrderBy(u => u).ToList();
}

<div class="col-md-8 card p-3 mx-auto top-margin width-min">
    <h2 class="slogan">Edit user`s info</h2>


    <form asp-action="EditUser" method="post">
        <div class="form-group row">
            @Html.HiddenFor(u =>u.Id)
            @Html.HiddenFor(u =>u.UserContactsId)
            @Html.HiddenFor(u =>u.UserAuthorizationId)
            <div class="col-md-6 form-group form-margin">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group form-margin">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-5 form-group form-margin">
                <label asp-for="PhoneNumber">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-7 form-group form-margin">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-group form-margin">
                <label asp-for="Login">Login</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-group form-margin">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" id="password" class="form-control" value="" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-group form-margin">
                <label asp-for="Permission">Permission</label>
                <select asp-for="Permission" class="form-control">
                    <option value="">Select permission</option>
                    @foreach (var permission in permissionsList)
                    {
                        <option value="@permission.Permission">@permission.Permission</option>
                    }
                </select>
                <span asp-validation-for="Permission" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group form-margin">
                <button type="submit" class="btn btn-outline-primary button-top-margin button-margin">Save</button>
            </div>
        </div>
    </form>
</div>
