@model UserDTO

@{
	ViewData["Title"] = "Users";
	var users = Ctx.Users
						.Select(u => new UserDTO(
						u.Id,
						u.FirstName,
						u.LastName,
						u.UserContact.PhoneNumber,
						u.UserContact.Email,
						u.UserPermission.Permission)).ToList();
}

<div class="col-md-8 card p-3 mx-auto top-margin width-min ">
	<h2 class="slogan text-center">Users</h2>

	<a class="btn btn-outline-primary new-customer-button" asp-controller="Home" asp-action="CreateUser">+ New User</a>
	<div>
		<table id="main-table" class="table table-striped table-bordered table-hover ">
			<thead>
				<tr>
					@Html.HiddenFor(u =>u.Id)
					<th>Name</th>
					<th>Phone number</th>
					<th>Email</th>
					<th>Permission</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var dto in users)
				{
					<tr>
						<td class="col-md-4">
							<a href="@Url.Action("UserInfo", "Home", new { id = dto.Id })">
								@($"{dto.FirstName} {dto.LastName}")
							</a>
						</td>

						<td>@dto.PhoneNumber</td>
						<td>@dto.Email</td>
						<td>@dto.Permission</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div id="toast-container" aria-live="polite" aria-atomic="true" class="toast-container position-fixed end-0 bottom-0 p-3" data-bs-autohide="true">
		@if (!string.IsNullOrEmpty(TempData["ToastMessage"] as string))
		{
			<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<span class="me-auto">SoundsGoodCRM</span>
					<small class="text-muted">@DateTime.Now.ToString("HH:mm")</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					<span class="toast-message">@TempData["ToastMessage"]</span>
				</div>
			</div>
		}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-fnMxWrj8OpX3K9G7u9NasbWOPj+YwONSlP3NqGN2FvIpnAb3L9M2vSxYyFJcvFxzxFTop+L/uqRFv8UoUeL8cQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha512-jLYrY3D6EG6dDCgmoG1X+X2RvN1yplN8df/m9/VfsFLvL27Dd1C7ZciJPoRPWkxi+9/1lSo9V6UR9GMshAxN2w==" crossorigin="anonymous"></script>
