@using SoundsGoodCRM.DAO;
@using SoundsGoodCRM.DTO;
@inject SampleContext Ctx;

@{
    ViewData["Title"] = "Orders";
    var orders = Ctx.Orders
               .Select(o => new OrderDto(
               o.Id,
               o.Instrument.SerialNumber,
               o.Instrument.Model.ModelName,
               o.Instrument.Model.Type.Type,
               o.Instrument.Model.Brand.BrandName,
               $"{o.Customer.FirstName} {o.Customer.LastName}",
               o.OrderStatuses.OrderByDescending(o => o).FirstOrDefault().Status)).ToList();
}

<div class="text-center slogan">
    <h3 class="display6">Embrace the Uniqueness,<br />Cherish Every Client!</h3>
</div>

<button type="button" class="btn btn-outline-primary">+ New Order</button>

<div>
    <table id="main-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th class="type-column">Type</th>
                <th>Brand</th>
                <th>Model</th>
                <th class="serial-number">Serial number</th>
                <th>Status</th>
                <th>Customer</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var dto in orders)
            {
                <tr>
                    <td>@dto.Id</td>
                    <td class="type-column">@dto.Type</td>
                    <td>@dto.Brand</td>
                    <td>@dto.Model</td>
                    <td>@dto.SerialNumber</td>
                    <td>@dto.Status</td>
                    <td>@dto.CustomerName</td>
                </tr>
            }
        </tbody>
    </table>
</div>


