@model UserDTO

@{
	ViewData["Title"] = "User info";
}

<div class="col-md-8 card p-3 mx-auto top-margin width-min">
	<h2 class="slogan">User info</h2>


	<form asp-action="CreateUser" method="post">
		<div class="form-group row">
			<div class="col-md-4 form-group form-margin">
				<label asp-for="FirstName">First Name</label>
				<span class="form-control" readonly>@Model.FirstName</span>
			</div>
			<div class="col-md-4 form-group form-margin">
				<label asp-for="LastName">Last Name</label>
				<span class="form-control" readonly>@Model.LastName</span>
			</div>
			<div class="col-md-4 form-group form-margin">
				<label asp-for="PhoneNumber">Phone number</label>
				<span class="form-control" readonly>@Model.PhoneNumber</span>
			</div>
			<div class="col-md-4 form-group form-margin">
				<label asp-for="Email">Email</label>
				<span class="form-control" readonly>@Model.Email</span>
			</div>
			<div class="col-md-4 form-group form-margin">
				<label asp-for="Login">Login</label>
				<span class="form-control" readonly>@Model.Login</span>
			</div>
			<div class="col-md-4 form-group form-margin">
				<label asp-for="Permission">Permission</label>
				<span class="form-control" readonly>@Model.Permission</span>
			</div>
			<div class="col-md-12 form-group form-margin">
				<a class="btn btn-outline-primary col-md-2 button-margin" asp-controller="Home" asp-action="EditUser" asp-route-id="@Model.Id">Edit</a>
			</div>
		</div>
	</form>
</div>
<div id="toast-container" aria-live="polite" aria-atomic="true" class="toast-container position-fixed end-0 bottom-0 p-3" data-bs-autohide="true">
	@if (!string.IsNullOrEmpty(TempData["ToastMessage"] as string))
	{
		<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<span class="me-auto">SoundsGoodCRM</span>
				<small class="text-muted">@DateTime.Now.ToString("HH:mm")</small>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				<span class="toast-message">@TempData["ToastMessage"]</span>
			</div>
		</div>
	}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-fnMxWrj8OpX3K9G7u9NasbWOPj+YwONSlP3NqGN2FvIpnAb3L9M2vSxYyFJcvFxzxFTop+L/uqRFv8UoUeL8cQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha512-jLYrY3D6EG6dDCgmoG1X+X2RvN1yplN8df/m9/VfsFLvL27Dd1C7ZciJPoRPWkxi+9/1lSo9V6UR9GMshAxN2w==" crossorigin="anonymous"></script>